// Color variables
$blue: #007DB2;
$grayPrimary: #001219; 
$graySecondary: #343b3e;


// Main styles

body, html {
  height: 100%;
  width: 100%;
} 

// Prevent selection of most things
.unselectable {
	user-select: none;
}

.frame-container {

	background-color: $grayPrimary; 

	position: relative;
	height: 100%;
	width: 100%;

	//padding: 4%;

	overflow-y: auto;
}

.app-window { 
	display: inline-block;
	vertical-align: top;

	width: 46%;
	height: 86%;
	background-color: $graySecondary;
	color: white;

	margin: 2%;


}

nav { 
	height: 100%;
}

.nav-block {
	height: 20%;
	background-color: red; 

	.middle-align {
		vertical-align: middle;
	}
	
}