<ul>
	<li><a href="https://github.com/theronpatrick/Website3">This site</a>, built with <3 and jQuery.</li>
	<li><a href="https://itunes.apple.com/us/app/free-mini-golf-scorecard/id566990840?ls=1&mt=8">Free Mini Golf Scorecard</a>, built in Objective-C.</li>
	<li><a href="resources/emp">Employee Tracker</a>, a simple demo using Angular.</li>
	<li><a href="/resources/coding-exercise">Responsive Design & Filtering Site</a>, my solution to the <a href="https://github.com/HubSpotWebTeam/CodeExercise">HubSpot Coding Exercise</a>.</li>
</ul>